@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: "Mulish", sans-serif;
}

/* Default Styles */
*{
    margin: 0;
}

.button-primary{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: rgb(255, 84, 0);    
}

.button-primary-text{
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 800;    
}

.text-one{
    color: rgb(19, 19, 24);
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.text-two{
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

/* Navbar */
.nav-bar{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 273px;
    font-size: 2rem;
}

.logo img{
    width: 48px;
    height: 56px;
}

.logo h3 span {
    color: rgb(255, 84, 0);
}

.nav-options{
    display: flex;
    gap: 2.75rem;
    color: rgb(66, 66, 71);
    font-size: 1.125rem;
}

.nav-options-menu{
    display: none;
}

.nav-options p span {
    color: rgb(255, 84, 0);
    font-weight: 700;
}

.nav-options p {
    cursor: pointer;
}
  
/* Banner */
.explore{
    width: 90%;
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%), url(../Images/banner.png);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    padding: 6.625rem 0;
}

.explore-container{
    max-width: 676px;
    margin: 0 auto;
}

.explore-container h3{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1.5rem;    
}

.explore-inputs{
    max-width: 800px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3); 
    margin: auto;
    padding: 1rem; 
    display: flex;
    justify-content: space-between;
}

.explore-container p{
    color: rgb(255, 255, 255);
    font-size: 1rem;  
    margin-bottom: 4rem;  
}

.explore-inputs input,select{
    width: 174px;
    height: 52px;    
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgba(19, 19, 24, 0.5);
    font-size: 1rem;    
}

.explore-inputs button{
    width: 174px;
    height: 52px; 
    border-radius: 8px;
    background: rgb(255, 84, 0);    
    color: rgb(255, 255, 255);   
    font-size: 16px;
    font-weight: 700;
}

/* Popular */
.popular{
    width: 90%;
    margin: 100px auto;
    display: flex;
    gap: 3.313rem;
    justify-content: space-between;
}

.popular-container li{
    margin-bottom: 1.5rem; 
}

.popular-image img {
    border-radius: 16px;
    max-width: 540px;
    max-height: 550px;
}

.popular-container button{
    margin-top: 0.5rem;
}


@media screen and (max-width:576px) {

/* Navbar */
.nav-options{
    display: none;
}

.nav-options-menu{
    display: block;
    cursor: pointer;
}

/* Banner */
.explore{display: none;}

/* Popular */
.popular{
    flex-direction: column;
}

.popular-image{
    text-align: center;
}

.popular-image img {
    max-width: 335px;
    max-height: 342px;
}
}